p {
	font-family:sans-serif;
	color:#000000;
}
#awesomeText {
	font-family: 'Times New Roman', 'Georgia', 'Serif';
}
.soft {color:#a8a8a8;}
.center {text-align: center;}
.container {margin: 0 auto;}
.deep {background-color: #c8c8c8;}
